<!DOCTYPE html>

<html>
    <head>
       
    </head>
    <body>
         <section th:fragment="botonesAgregar" ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCategoria">
                            <i class="fas fa-plus"></i> [[#{categoria.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
